* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    grid-template-areas:
        "order payment"
        "order-total"
        "final-total";
    grid-template-columns: 1fr 1fr;;
}



.logo {
    height:25px;
    position: relative;
    top:3px;
}

.box {
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.items-ordered {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "item item"
        "item item";
}

.item{
    border-bottom: 2px solid #ddb892;
    display: grid;
    padding:10px 0;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        "item price"
        "garnish coffee mod";
    row-gap: 8px;
}

.garnish {
    grid-area: garnish;
    color: #b08968;
    list-style: none;
    margin: 0;
    padding:0;
    font-size: 14px;
}

.brand {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.main-nav {
    background-color: #43281c;
    color: #fbf2c0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.payment {
    grid-area: payment;
}

section {
    display: block;;
}

table {
    display: table;
    border-collapse: separate;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: grey;
}

.totals-tab {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.box-title {
    color: #885a2d;
    font-weight: normal;
    font-size: 16px;
}

.user-input-label {
    color: #885a2d;
    background-color:#eee1d5;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-left: 2px;
}

.user-input {
    background-color: rgba(0, 0, 0, 0);
    border: 2px #885a2d solid;
    padding: 8px;
    border-radius: 100px;
    width: 100%;
    text-indent: 18px;
    font-size: 18px;
}

.short-input {
    max-width: 200px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

r {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
    border-top-color: ;
    border-right-color: ;
    border-bottom-color: ;
    border-left-color: ;
}

.totals-table td {
    padding: 10px;
}

final-totals {
    font-weight: bold;
}



